<a href="https://colab.research.google.com/github/supershao1/PythonA-Z/blob/main/202401_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd, os, io

In [8]:
#file_path = r'D:\OneDrive\Personal\Study\05_AI\Udemy\Python_A-Z\P4-Demographic-Data.csv'
file_path = '/workspaces/PythonA-Z/P4-Demographic-Data.csv'
stats = pd.read_csv(file_path, index_col=0)

In [9]:
stats

,Country Code,Birth rate,Internet users,Income Group
Country Name,,,,
Aruba,ABW,10.244,78.9,High income
Afghanistan,AFG,35.253,5.9,Low income
Angola,AGO,45.985,19.1,Upper middle income
Albania,ALB,12.877,57.2,Upper middle income
United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...
"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
South Africa,ZAF,20.850,46.5,Upper middle income
"Congo, Dem. Rep.",COD,42.394,2.2,Low income
Zambia,ZMB,40.471,15.4,Lower middle income
Zimbabwe,ZWE,35.715,18.5,Low income

In [10]:
print(os.getcwd())

/workspaces/PythonA-Z