<a href="https://colab.research.google.com/github/supershao1/PythonA-Z/blob/main/Python_Home_Work_Section3_Fill_The_Blanks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Data 
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [3]:
#Solution
#Calculate Profit As The Differences Between Revenue And Expenses
profit = []

for i in range (0, len(revenue)):
    profit.append(revenue[i] - expenses[i])
profit

[2522.67,
 1911.3900000000003,
 -3707.790000000001,
 -2914.3099999999995,
 -599.9200000000001,
 7265.24,
 8210.550000000001,
 3944.9700000000003,
 3328.3899999999994,
 -2238.6500000000015,
 659.5999999999985,
 11629.54]

In [4]:
#Calculate Tax As 30% Of Profit And Round To 2 Decimal Points
tax = [round(i * 0.3, 2) for i in profit]
tax

[756.8,
 573.42,
 -1112.34,
 -874.29,
 -179.98,
 2179.57,
 2463.17,
 1183.49,
 998.52,
 -671.6,
 197.88,
 3488.86]

In [5]:
#Calculate Profit Remaining After Tax Is Deducted
profit_after_tax = []
for i in range (0, len(profit)):
    profit_after_tax.append(profit[i] - tax[i])
profit_after_tax

[1765.8700000000001,
 1337.9700000000003,
 -2595.4500000000007,
 -2040.0199999999995,
 -419.94000000000005,
 5085.67,
 5747.380000000001,
 2761.4800000000005,
 2329.8699999999994,
 -1567.0500000000015,
 461.71999999999855,
 8140.68]

In [8]:
#Calculate The Profit Margin As Profit After Tax Over Revenue
#Round To 2 Decimal Points, Then Multiply By 100 To Get %
profit_margin = []
for i in range (0, len(profit_after_tax)):
    profit_margin.append(profit_after_tax[i] / revenue[i])
profit_margin

profit_margin = [round((i*100),2) for i in profit_margin]

profit_margin

[12.12,
 17.59,
 -30.14,
 -22.23,
 -5.21,
 62.74,
 49.99,
 28.28,
 22.61,
 -10.9,
 4.31,
 52.75]

In [9]:
#Calculate The Mean Profit After Tax For The 12 Months
mean_pat = sum(profit_after_tax) / len(profit_after_tax)
mean_pat

1750.6816666666666

In [10]:
#Find The Months With Above-Mean Profit After Tax
good_months = []
for i in range (0, len(profit_after_tax)):
    good_months.append(profit_after_tax[i] > mean_pat)
good_months

[True, False, False, False, False, True, True, True, True, False, False, True]

In [11]:
#Bad Months Are The Opposite Of Good Months!
bad_months = []
for i in range (0, len(profit_after_tax)):
    bad_months.append(not (good_months[i]))
bad_months

[False, True, True, True, True, False, False, False, False, True, True, False]

In [12]:
#The Best Month Is Where Profit After Tax Was Equal To The Maximum
best_month = []
for i in range (0, len(profit_after_tax)):
    best_month.append(profit_after_tax[i] == max(profit_after_tax))
best_month

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True]

In [13]:
#The Worst Month Is Where Profit After Tax Was Equal To The Minimum
worst_month = []
for i in range (0, len(profit_after_tax)):
    worst_month.append(profit_after_tax[i] == min(profit_after_tax))
worst_month

[False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [14]:
#Convert All Calculations To Units Of One Thousand Dollars
revenue_1000 = [round(i/1000, 0) for i in revenue]
expenses_1000 = [round(i/1000, 0) for i in expenses]
profit_1000 = [round(i/1000, 0) for i in profit]
profit_after_tax_1000 = [round(i/1000, 0) for i in profit_after_tax]

revenue_1000 = [int(i) for i in revenue_1000]
expenses_1000 = [int(i) for i in expenses_1000]
profit_1000 = [int(i) for i in profit_1000]
profit_after_tax_1000 = [int(i) for i in profit_after_tax_1000]

In [21]:
#Print Results
print ("Revenue :") 
print (revenue_1000)
print ("Expenses :") 
print (expenses_1000)
print ("Profit :")
print(profit_1000)
print ("Profit after tax :")
print (profit_after_tax_1000)
print ("Profit margin :")
print (profit_margin)
print ("Good months :")
print (good_months)
print ("Bad months :")
print (bad_months)
print ("Best month :")
print (best_month)
print ("Worst month :")
print (worst_month)

Revenue :
[15, 8, 9, 9, 8, 8, 11, 10, 10, 14, 11, 15]
Expenses :
[12, 6, 12, 12, 9, 1, 3, 6, 7, 17, 10, 4]
Profit :
[3, 2, -4, -3, -1, 7, 8, 4, 3, -2, 1, 12]
Profit after tax :
[2, 1, -3, -2, 0, 5, 6, 3, 2, -2, 0, 8]
Profit margin :
[12.12, 17.59, -30.14, -22.23, -5.21, 62.74, 49.99, 28.28, 22.61, -10.9, 4.31, 52.75]
Good months :
[True, False, False, False, False, True, True, True, True, False, False, True]
Bad months :
[False, True, True, True, True, False, False, False, False, True, True, False]
Best month :
[False, False, False, False, False, False, False, False, False, False, False, True]
Worst month :
[False, False, True, False, False, False, False, False, False, False, False, False]

In [28]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
good_months_display = []
bad_months_display = []
best_month_display = []
worst_month_display = []
for i in range(0,len(months)):
  if good_months[i]:
    good_months_display.append(months[i])
  elif bad_months[i]:
    bad_months_display.append(months[i])
  #else: i=i+1  

  if best_month[i]:
    best_month_display.append(months[i])
  
  if worst_month[i]:
    worst_month_display.append(months[i])



print('Good months are:', *good_months_display)
print('Bad months are:', *bad_months_display)
print('Best month is:', *best_month_display)
print('Worst month is:', *worst_month_display)

Good months are: Jan Jun Jul Aug Sep Dec
Bad months are: Feb Mar Apr May Oct Nov
Best month is: Dec
Worst month is: Mar